.navigation {
  width: 45%;
  display: flex;
  justify-content: flex-end;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.menu-item {
  list-style-type: none;
  margin-left: 2rem;
}
.menu-item a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 18px;
}

.menu-item a:hover {
  color: #fff;
}

@media (max-width: 1200px) {
  .menu-item {
    margin-left: 1.5rem;
  }
  .menu-item {
    width: 6rem;
  }
}
