.product-page {
    display: flex;
    flex-direction: column;
    width: 23%;
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 1px solid lightgrey;
    box-shadow: -5px 10px 20px rgba(218, 223, 225, 0.2);

}
.product-page img {
    display: flex;
    justify-content: center;
    margin: .4rem .4rem 0 .4rem;
    height: 11vw;
    width: auto;
}

.product-img {
    display:flex;
    justify-content: center;
    margin: 0;
}

.product-page h4 {
    font-weight: 400;
    text-align: center;
    margin: 1rem .4rem;
}

.product-page span {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    color: gold;
    
}

.add-to-cart {
    opacity: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(99,100,216,1);
    height: 40px;
 }

 .add-to-cart:hover{
    background: #088DA5;
 }

.add-to-cart a {
    color: #fff;
    margin: 0;
    text-decoration: none;
 }