

body {
    font-family: 'Lato', sans-serif;
    margin: 0;

}

header {
    background-color: rgba(248, 203, 0, 1);
    padding: 20px 40px 20px 40px;
    
}

.img_header {
    float:left;
    width: 12px;
    height: 12px;
    padding-top: 3px;
    padding-right: 3px;
}

#myStore_header {
    font-size: 24px;
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
    color: #fff;
}

#adr_header {
    text-decoration: none;
}

.menuNavigation ul li{
    display: inline-block;
    text-align: center;
    padding-left: 45px;
}

.menuNavigation ul {
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
}

.listInList_header {
    float: right;
}

.listInList_header ul li a {
    text-decoration: none;
    color: #000;
}

.listElem_header {
    padding-right: 70px;
}

.categoriesDiv_header {
    position: absolute;
    padding: 5px 5px 5px 5px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-left: 60px;
}

.categoriesDiv_header ul{
    padding:0px;
    margin: 16px;
    padding-right: 50px;
}

.categoriesUl_header li{
    display: block;
    text-decoration: none;
}


#categoriesElementAll {
    padding-bottom: 15px;
    color: grey;
    font-size: 12px;
}


.categoriesElement {
    font-weight: 600;
    padding-bottom: 10px;
}

.categoriesElement:hover {
    color: rgba(248, 203, 0, 1);
}


.categoriesSubelement li {
    padding-bottom: 12px;
}

.categoriesSubelement a {
    text-decoration: none;
    color: grey;
    font-weight: 400;
}

.categoriesSubelement a:hover {
    color: rgba(248, 203, 0, 1);
}

.searchBarDiv {
    margin-left: 400px;
    margin-right: 400px;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: white;
}



input[type=text] {
    background-attachment: left;
    padding: 0px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    width: 500px;
}

#searchButton {
    width: 15px;
    height: 15px;
    background-color: #fff;
}

.button {
    background-color: #fff;
    border: 0px;
}

.contactData tbody tr td{
    text-align: center;
}

.contactData tbody tr td a{
    text-decoration: none;
}

.cartWithIcon {
    position: absolute;
    right: 0px;
    margin-right: 240px;
}
