.header-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(248, 203, 0, 1);
  height: 165px;
  padding: 1rem 10% 0 10%;
  width: auto;
}

.logo-container {
  display: flex;
  width: 25%;
}

.header-right-part {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-left: 2rem;
}

.header-top-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  height: 3rem;
}

@media (max-width: 1200px) {
  .header-top-container {
    justify-content: flex-end;
  }
}

.header-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
