body {
    background-color: coral;
}
a {
    text-decoration: none;
}

.participantsList {
    color: aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#specialItem {
    color: darkviolet;
}