body {
    margin: 0;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
    
}
header {
    padding: 40px 0px 0px 0px;
    background: gold;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0rem 10em;

}

.header-left {
    display: flex;
    width: 25%;
    padding-right: 2rem;
}

h1 {

    color: #fff;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    padding-left: 1rem;
}

.header-right {
    padding: 0rem;
    display: flex;
    flex-direction: column;
    width: 75%;
    
}

.header-right-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    /* height: 5rem; */
    padding-top: 9px;
}

.right-1 {
    width: 30%;
    display: flex;
    
}

.right-1 img{
    margin-right: 4px;
    height: 16px;
    width: 16px;
}

.right-1 p {
    margin: 0;
}

.right-1 a {
    color: #088DA5;
}

.right-2 {
    width: 30%;
    display: flex;
}

.right-2 img {
    margin-right: 4px;
    height: 16px;
    width: 16px;
}

.right-2 p {
    margin: 0;
}

.right-3 {
    width: 40%;
}

.right-3 a:hover {
    color: #fff;
}

.right-3 ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    
}

.right-3 ul li {
    display: inline;
    padding: 0;
}

.header-right-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
}

.searchbar {
    padding: 0 0 16px 0;
    width: 71%;
}

.searchbar input {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border-color: #fff;
    border: 0px;
    padding-left: 50px;
    background-image: url(icons/search-solid.svg);
    background-repeat: no-repeat;
    background-position-x: 14px;
    background-position-y: 14px;
}


.shopping-cart {
    display: flex;
    flex-direction: row;
    width: 20%;
    padding-bottom: 16px;

}



.shopping-cart-1 {
    padding: 0;
    background-color: rgba(99,100,216,1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 75%;
    height: 50px;
}

.shopping-cart-1 div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;


}

.shopping-cart-1 div span {
    font-size: 14px;
    padding: 16px 0;
    color: #fff;
    opacity: 0.8;
}

.shopping-cart-2 {
    background-color: rgba(57, 58, 177, 1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0;
    height: 50px;
    width: 25%;
}

.shopping-cart-2 div {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    opacity: 0.8;
}

.shopping-cart-2 div span {
    font-size: 14px;
    padding: 16px 0;
    color: #fff;
    opacity: 1;
}

/* Hello there content! The header is done.*/

/* left part of the body */

.content{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    margin: 0rem 10em;
}

/* left part of the body */

.categories {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-top: -66px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(218, 223, 225, .6);
    font-size: 14px;
}

.categories h6 {
    margin: 1rem;
    color: #808080;
    font-weight: 300;
    font-size: 14px;
}
.categories ul{
    list-style-type: none;
    margin: 1rem;
    padding: 0;
}

.categories a:hover {
    color: gold;
    
}
.categories ul li {
    padding: 5% 0%;
}

.body-left {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-right: 2rem;
}

.ads {
    display: flex;
    flex-direction: column;  
}

.my-ad {
    height: 300px;
    background-image: url("images/imgads.jpg");
    background-size: cover;
    box-shadow: 0px 10px 20px rgba(218, 223, 225, .6);
    border-radius: 5px;
    margin-top: 2rem;
}

.my-ad h4 {
    font-weight: 300;
    margin: 0;
    padding: 1.3rem 0 0 1.5rem;
}

.my-ad h3 {
    margin: 0;
    padding: 5rem 0 0 1.5rem;

}

.my-ad hr {
    margin: .5rem 0 0 1.5rem;
    background-color: #000;
}

.my-ad h2 {
    margin: 0;
    padding: 1.5rem 0 0 1.5rem;
    font-size: 40px;
    color: rgba(99,100,216,1);
}

/* right part of the body */

.body-right {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.body-right-1 {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.br1-left{
    width: 25%;
    
}

.br1-left h2 {
    
    font-weight: 400;
    font-size: 24px;
    
}

.br1-right{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
}

.br1-right p {
    opacity: 0.6;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.arrows {
    margin-left: 6px;
    padding: .2rem .4rem;
    border-radius: 5px;
    border-color: #000;
    border: 1px solid lightgrey;
}

.color-grey {
    color: #808080;
}

.body-right-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    opacity: 0.6;
}

.body-right-2 a {
    color: #088DA5;
    opacity: 1;
}



.body-right-2 ul li {
    display: inline;
    text-decoration: none;
}

.br2-left {
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    width: 75%;
}

.br2-left li {
    margin-right: 12px;
}

.br2-right {
    margin: 0;
    padding: 0;
    text-decoration: none;
    display:flex;
    justify-content: flex-end;
    width: 25%;
}

.br2-right li {
    text-align: right;
}

.body-right-3 {
    margin-top: 1.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-page {
    display: flex;
    flex-direction: column;
    width: 23%;
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 1px solid lightgrey;
    box-shadow: -5px 10px 20px rgba(218, 223, 225, 0.2);

}

.product-page img {
    display: flex;
    justify-content: center;
    margin: .4rem .4rem 0 .4rem;
    height: 11vw;
    width: auto;
}

.product-img {
    display:flex;
    justify-content: center;
    margin: 0;
}

.product-page h4 {
    font-weight: 400;
    text-align: center;
    margin: 1rem .4rem;
}

.product-page span {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    color: gold;
    
}
 hr {
    margin: 0;
 }

 .add-to-cart {
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(99,100,216,1);
    height: 40px;
 }

 .add-to-cart:hover{
     
     background: #088DA5;
 }

.add-to-cart a {
    color: #fff;
    margin: 0;
    
 }

 @media only screen and (max-width: 800px) {
    body {
      background-color: lightblue;
    }
  }

  @media only screen and (max-width: 1150px) {
    body {
      background-color: red;
    }
  }


/*--- MODAL ---*/

.overlay {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.4);
    padding: 20px;
    max-width: 650px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    
}
.modal-top-left {
    width: 50%;
    
}
.modal-top-left img {
    height: 100%;
    width: 100%;
}
.modal-top-right {
    width: 50%;
}

.modal-top {
    display: flex;
    justify-content: space-between;
}

.modal-top-right-3 {
    display: flex;
    justify-content: space-between;
}

.modal-price {
    color: gold;
}

.modal-ml {
    color:rgba(128, 128, 128, 1);
    font-size: 14px;
}

.fas {
    color: rgb(248, 118, 66);
}

.reviews h4 {
    margin: 0;
    padding-left: 1px;
    padding-top: 5px;
    color: rgb(128,128,128);
    font-weight: 100;
    font-size: 12px;

}

.modal-button {
    margin-top: 12px;
}

.modal-button button {
    width: 100%;
    height: 3rem;
    background-color:rgba(99,100,216,1);
    padding:0;
    margin: 0;
    color: #fff;
    border: none;
    text-align: left;
    padding-left: 14px;
}


.modal-bottom {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.modal-top-right-5 p {
    font-size: 16px;
    line-height: 2;
}